.App {
  text-align: center;
  min-height: 100vh;
  @apply bg-gradient-to-b from-blue-400 to-blue-600 pb-16;
}
.kv{
  width: 100vw;
  height: 45vh;
  background-image: url(/public/img/delmin.png);
  background-repeat: no-repeat;
  background-size: 140%;
  background-position-x: 60%;
  position: relative;
  margin-bottom: 30px;
}
.kv:after{
  content: '';
  width: 100vw;
  height: 30px;
  position: relative;
  display: block;
  top: 97%;
  backdrop-filter: blur(3px);
}

.App header{
  @apply py-2.5 px-4 text-xl font-bold flex justify-center items-center text-white;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 100;
}
.App header a{
  width: 32px;
  position: absolute;
  left: 0;
  @apply ml-4;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  @apply bg-pink-200;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
